server:
  port: 8095

spring:
  flyway:
    baselineOnMigrate: true
  mvc:
    format:
      date: yyyy-MM-dd
      date-time: yyyy-MM-dd HH:mm:ss
      time: HH:mm:ss
  application:
    name: microservice-exemplo
  main:
    allow-bean-definition-overriding: true
  cloud:
    config:
      import-check:
        enabled: false
    kubernetes:
      config:
        name: default-name
        namespace: default-namespace
        sources:
          - name: c1

  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL94Dialect
        temp:
          use_jdbc_metadata_defaults: false

  datasource:
    url: jdbc:postgresql://localhost:5432/rachidExample
    driverClassName: org.postgresql.Driver
    username: postgres
    password: Nexti10age
    database-platform: org.hibernate.dialect.PostgreSQL94Dialect
  data:
    web:
      pageable:
        one-indexed-parameters: true
  jackson:
    property-naming-strategy: SNAKE_CASE

logging:
  file:
    name: Sistema.log

micro-service:
  ms-character:
    url: http://localhost:8080
    list: /api/characters
  pokemon:
    url: https://pokeapi.co/api/v2/pokemon/

springdoc:
  api-docs:
    path: /api-docs

