apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice-api-rachid
spec:
  selector:
    matchLabels:
      app: microservice-api-rachid
  template:
    metadata:
      labels:
        app: microservice-api-rachid
    spec:
      dnsConfig:
        options:
          - name: single-request-reopen
      containers:
        - name: microservice-api-rachid
          image: rachid/microservice-api-rachid
          ports:
            - containerPort: 8080
